In [ ]:
import syft as sy
sy.requires(SYFT_VERSION)
from syft import autocache

In [ ]:
node = sy.orchestra.launch(name="test-domain_api-2", port="auto", dev_mode=True, reset=True)

INFO:     127.0.0.1:54360 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54364 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54368 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54372 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54380 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54384 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54530 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54534 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54538 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54550 - "POST /api/v2/api_call HTTP/1.1" 200 OK
INFO:     127.0.0.1:54554 - "GET /api/v2/metadata HTTP/1.1" 200 OK

In [ ]:
domain_client = node.login(email="info@openmined.org", password="changethis")

In [ ]:
domain_client

In [ ]:
domain_client.api

In [ ]:
data_subjects = domain_client.api.services.data_subject.get_all()

In [ ]:
data_subjects

In [ ]:
assert len(data_subjects) == 0

In [ ]:
import glob
import pandas as pd
dfs = []
filepaths = glob.glob('../datasets/EMAKI_preprocessed/mouse/*.csv')
assert len(filepaths) > 0, 'Dataset not found! Have you already been converting it?'
for filepath in filepaths:
     filename = filepath.split('\\')[-1].split('/')[-1].split('.')[0]
     dfs.append(pd.read_csv(filepath))

In [ ]:
user = sy.DataSubject(name="user", aliases=["user_code"])
dict = {}
for i in range (39):
   user.add_member(sy.DataSubject(name=f"user {i}", aliases=[f"user_code {i}"]))

In [ ]:
registry = domain_client.data_subject_registry
response = registry.add_data_subject(user)

In [ ]:
domain_client.data_subject_registry

In [ ]:
data_subjects = domain_client.api.services.data_subject.get_all()

In [ ]:
data_subjects

In [ ]:
df = dfs[0]
mouse_data=df[0:4000]
mock_data=df[4000:8000]

In [159]:
mouse_data['x'].sum()

1370.896484375

In [ ]:
dataset = sy.Dataset(name="mouse data")
dataset.set_description("""mouse data of first data frame for testing""")

In [ ]:
dataset.add_citation("Person, place or thing")
dataset.add_url("https://github.com/OpenMined/datasets/tree/main/trade_flow")

In [ ]:
dataset.add_contributor(role=sy.roles.UPLOADER, 
                                name="Andrew Trask", 
                                email="andrew@openmined.org",
                                note="Andrew runs this domain and prepared the dataset metadata.")

dataset.add_contributor(role=sy.roles.EDITOR, 
                                name="Madhava Jay", 
                                email="madhava@openmined.org",
                                note="Madhava tweaked the description to add the URL because Andrew forgot.")

In [ ]:
dataset.contributors

In [ ]:
ctf = sy.Asset(name="mouse_data")
ctf.set_description("""all the datas""")

In [ ]:
ctf.add_contributor(role=sy.roles.UPLOADER, 
                      name="Andrew Trask", 
                      email="andrew@openmined.org",
                      note="Andrew runs this domain and prepared the asset.")

In [ ]:
ctf.set_obj(mouse_data)
ctf.set_shape((4000, 13))
data_subject = data_subjects[2]
ctf.add_data_subject(data_subject)

In [ ]:
dataset.add_asset(ctf)

In [ ]:
ctf.set_mock(mock_data, mock_is_real=True)

In [ ]:
dataset.add_asset(ctf)

In [ ]:
dataset.remove_asset(name=ctf.name)

In [ ]:
dataset

In [ ]:
domain_client.upload_dataset(dataset)

In [ ]:
datasets = domain_client.api.services.dataset.get_all()

In [ ]:
real = domain_client.datasets[0].assets[0].data

In [ ]:
real

In [ ]:
assert mouse_data.equals(real.syft_action_data)

In [ ]:
################################################## here we gonna take client expereince

In [ ]:
import syft as sy
sy.requires(SYFT_VERSION)
from syft.client.api import NodeView

In [ ]:
guest_domain_client = node.client

In [ ]:
guest_credentials = guest_domain_client.credentials
guest_credentials

In [ ]:
guest_domain_client.register(name="Jane Doe", email="jane@caltech.edu", password="abc123", institution="Caltech", website="https://www.caltech.edu/")

In [ ]:
guest_domain_client.login(email="jane@caltech.edu", password="abc123")

In [ ]:
assert guest_domain_client.credentials != guest_credentials

In [ ]:
results = guest_domain_client.api.services.dataset.get_all()
results

In [ ]:
dataset = results[-1]

In [ ]:
dataset

In [158]:
mock = dataset.assets[0].mock
mock

,user,session,task,timestamp,x,y,O,C,E,A,N,left_pressed,right_pressed
4000,13,1,3,1616765168959,0.115234,0.411356,0,1,1,0,0,1,0
4001,13,1,3,1616765168976,0.114583,0.411356,0,1,1,0,0,1,0
4002,13,1,3,1616765168992,0.113932,0.411356,0,1,1,0,0,1,0
4003,13,1,3,1616765169009,0.112630,0.411356,0,1,1,0,0,1,0
4004,13,1,3,1616765169026,0.111979,0.411356,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,13,1,4,1616765593168,0.481771,0.417149,0,1,1,0,0,0,0
7996,13,1,4,1616765593185,0.486328,0.417149,0,1,1,0,0,0,0
7997,13,1,4,1616765593202,0.490234,0.417149,0,1,1,0,0,0,0
7998,13,1,4,1616765593219,0.492188,0.417149,0,1,1,0,0,0,0
7999,13,1,4,1616765593237,0.493490,0.417149,0,1,1,0,0,0,0

In [160]:
@sy.syft_function(input_policy=sy.ExactMatch(mouse_data=mock),
                  output_policy=sy.SingleExecutionExactOutput())
def sum_x_values(mouse_data):
    import pandas as pd
    from opendp.mod import enable_features
    enable_features('contrib')
    from opendp.measurements import make_base_laplace
    aggregate = 0.
    base_lap = make_base_laplace(scale=5.)
    noise = base_lap(aggregate)

    df = mouse_data
    total = df["x"].sum()
    return (float(total), float(noise))

In [161]:
sum_x_values(mouse_data=mock)

11.348647674264857

(1727.0104166666665, 11.348647674264857)